@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;500;700;800&display=swap");

/* Reset css and set up */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
  color: white;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
body,
html {
  height: 100%;
}

body {
  background: #1a1a1a;
}

::selection {
  background-color: #e4504b;
}

/* Styling  */
/* 1. Header */
/* 1a. Navbar */
.section-header {
  padding: 3.6rem 0;
}
.section-header__navbar {
  height: 10vh;
}

.container--flex {
  display: flex;
}

.navbar__links {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.navbar__icons {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.link {
  font-size: 2.8rem;
}
.link a:hover,
.link a:hover i {
  color: #e4504b;
}
.link:not(:last-child) {
  margin-right: 2.6rem;
}

.icon {
  font-size: 3.2rem;
}

.icon a:hover i {
  color: #e4504b;
}

.icon:not(:first-child) {
  margin-left: 5rem;
}

/* End Navbar */

/* 1b. Header content */

.section-header__content {
  height: 90vh;
}

.section-header__content .container--flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.content__title--intro {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem;
}

.title--name {
  font-size: 5.6rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.title--job {
  font-size: 4rem;
  font-weight: 200;
}

.content__description {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__description .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 40%;
  height: 120%;
  margin-right: 5rem;
}

.text-block--1,
.text-block--2 {
  font-size: 2rem;
  text-align: justify;
  font-weight: 400;
  line-height: 1.5;
}

.profile {
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  border-radius: 4rem;
  border: 2px solid #e4504b;
  transition: 0.2s ease;
}
.profile:hover {
  transform: scale(1.2);
  border: 2px solid #1d9f31;
}
.profile--avatar {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4rem;
}

/* End Header content */

/* End Header */

/* 2. Portfolio */

.section-portfolio {
  padding: 9.6rem 0;
  text-align: center;
}
.section-portfolio .portfolio__title {
  margin-bottom: 15rem;
}

.section-portfolio .portfolio__title .title {
  font-size: 4rem;
  font-weight: 200;
}

/* .portfolio {
  width: 70%;
  height: 100%;
  margin: 100px auto 0 auto;
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio__title {
  margin-bottom: 200px;
}

*/

.project {
  display: flex;
  width: 100%;
  margin-bottom: 15rem;
  justify-content: center;

  /* background-color: #f5554f; */
  /* transition: 0.2s ease;
  border: 2px solid #e4504b;
  border-radius: 0.8rem; */
}

.project:hover {
  /* transform: scale(1.1);
  border: 2px solid #1d9f31; */
}

.project__image {
  position: relative;
  width: 60rem;
}

.project__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.title__text {
  font-size: 3.5rem;
  font-weight: 200;
  text-align: center;
  transition: 0.2s ease;
}

.title__featuretxt {
  font-size: 2rem;
  font-weight: 500;
  color: #e6e6e6;
}
.title__name {
  font-size: 2.8rem;
  font-weight: 500;
  color: #f5554f;
  text-align: right;
}

.title__name:hover {
  color: #188629;
}

.card__text {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 25px;
  color: #e6e6e6;
  text-align: justify;
}

.content__tags {
  margin-top: 20rem;
}

.tags__tag {
  font-size: 1.5rem;
  color: #a3a3a3;
  font-weight: 800;
  padding: 5px 2px;
}

.project__content {
  width: 30rem;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-end;
}

.content__title {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: flex-end;
}

/* .content__title .title__name {
  width: 270px;
}

.content__tags {
  align-self: flex-end;
  margin-bottom: 25px;
  padding: 0 5px;
}
*/
.content__info {
  width: 40rem;
  height: 15rem;
  background: rgba(33, 33, 33, 0.5);
  position: absolute;
  right: 0;
  top: 75px;
  border-radius: 4px;
  transition: 0.4s ease;
  border: 1px solid rgba(33, 33, 33, 0.5);
}

.content__info:hover {
  background: rgba(33, 33, 33, 1);
  border: 1px solid #fff;
}

/*
.pepsi__image {
  order: 2;
}
.pepsi__title {
  order: 1;
}

.pepsi__title .content__title .title__name {
  text-align: left;
}
.pepsi__title .content__title h4 {
  width: 270px;
  text-align: left;
}

.pepsi__tags {
  width: 270px;
  text-align: left;
}

.pepsi__card {
  left: 0;
} */

/* End Portfolio */

/* Footer */
.section-footer {
  width: 100%;
  height: 10vh;
  background: #1a1a1a;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-top: 2px solid #3f3e3e;
}
.footer__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__contact i,
.footer__contact i,
.footer__contact i {
  color: #e6e6e6;
  font-size: 3rem;
}

.footer__contact span,
.footer__contact span,
.footer__contact span {
  color: #e6e6e6;
  font-size: 1.6rem;
  padding: 0 15px;
}

.footer__contact:nth-child(2) {
  margin: 0 5rem;
}

.footer__discord,
.footer__phone,
.footer__mail {
  display: flex;
  align-items: center;
}

.footer__copyright {
  padding: 12px 0;
  width: 100%;
}

.footer__copyright p {
  color: #b0b0b0;
  font-size: 1.3rem;
  text-align: center;
}

.title__name a:hover a {
  display: none;
}

/* End Footer */

/* Responsive */

@media screen and (max-width: 991px) {
  /* body {
    display: none;
  } */

  .link {
    font-size: 2rem;
  }

  .content__title--intro {
    margin-top: 3.2rem;
  }

  .content__title a {
    font-size: 2.2rem;
  }

  .content__description {
    flex-direction: column-reverse;
  }

  .content__description .profile {
    width: 52rem;
    height: 32rem;
    border: none;
    border-radius: 0;
  }
  .content__description .profile--avatar {
    border-radius: 8px;
  }

  .content__description .profile:hover {
    transform: scale(1);
    padding: 2rem 0;
  }

  .content__description .text {
    /* background-color: aquamarine; */
    margin: 0;
    width: 52rem;
  }
  .text-block--1 {
    margin-bottom: 2rem;
  }

  .section-footer .footer__contact span {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 767px) {
  /* body {
    display: none;
  } */

  .link {
    font-size: 2.4rem;
  }

  .navbar__icons {
    display: none;
  }

  .navbar__links {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .section-footer {
    height: 15vh;
  }

  .section-footer .footer__container {
    flex-direction: column;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project .project__content {
    width: 60rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }

  .project .content__info {
    width: 40rem;
    top: -4rem;
    left: 2rem;
    order: 1;
  }
  .project .content__title {
    width: auto;
    position: relative;
    order: 2;
  }

  .project .content__title a {
    display: block;
    width: 18rem;
  }

  .project .content__tags {
    margin-top: 2rem;
    position: relative;
    order: 3;
  }

  .footer__container .footer__contact:nth-child(2) {
    margin: 1.2rem 0;
  }
}

@media screen and (max-width: 575px) {
  /* body {
    display: none;
  } */

  .link {
    font-size: 2.4rem;
  }

  .content__description .profile {
    width: 40rem;
    height: 26rem;
    border: none;
    border-radius: 0;
  }

  .content__description .text {
    margin: 0;
    width: 40rem;
  }

  .navbar__links {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .navbar__icons {
    display: none;
  }

  .project .project__image {
    width: 40rem;
  }

  .project .project__content {
    width: 40rem;
  }

  .project .content__info {
    width: 28rem;
    height: auto;
    top: -4rem;
    left: -4rem;
    order: 1;
  }
  /* .project .content__info .card__text {
    text-align: left;
  } */
}
